> # Time Series Forecasting And Portfolio Optimization (GMF) Investments

In [1]:
import os
os.chdir('..')
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd # type: ignore
import matplotlib.pyplot as plt # type: ignore
import seaborn as sns # type: ignore
import numpy as np # type: ignore
import yfinance as yf # type: ignore
from statsmodels.tsa.seasonal import seasonal_decompose # type: ignore

> ## ‚ôªÔ∏è Preprocess and Explore the Data

> > ##### Load, Prepare and understand the historical financial data for Tesla, BND, and SPY over the period from January 1, 2015, to  January 31, 2025., using YFinance

> ## ‚è≥ Data Loading

In [3]:
from scripts.data_loader import loadData
tsla_data, bnd_data, spy_data = loadData()

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

> ## ‚úÖ Check Loaded Dataset

In [4]:
from scripts.data_loader import format_date

data = format_date

> ## üõ¢Ô∏è TSLA Datasets

In [5]:
rows, columns = tsla_data.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 2535
Number of columns: 6

In [6]:
tsla_data.head(rows)

Price,Open,High,Low,Close,Adj Close,Volume
Ticker,TSLA,TSLA,TSLA,TSLA,,TSLA
Date,,,,,,
2015-01-02,14.858000,14.883333,14.217333,14.620667,14.620667,71466000
2015-01-05,14.303333,14.433333,13.810667,14.006000,14.006000,80527500
2015-01-06,14.004000,14.280000,13.614000,14.085333,14.085333,93928500
2015-01-07,14.223333,14.318667,13.985333,14.063333,14.063333,44526000
2015-01-08,14.187333,14.253333,14.000667,14.041333,14.041333,51637500
...,...,...,...,...,...,...
2025-01-24,414.450012,418.880005,405.779999,406.579987,406.579987,56427100
2025-01-27,394.799988,406.690002,389.000000,397.149994,397.149994,58125500
2025-01-28,396.910004,400.589996,386.500000,398.089996,398.089996,48910700
2025-01-29,395.209991,398.589996,384.480011,389.100006,389.100006,68033600
2025-01-30,410.779999,412.500000,384.410004,400.279999,400.279999,98092900

In [7]:
tsla_data.describe()

Price,Open,High,Low,Close,Adj Close,Volume
Ticker,TSLA,TSLA,TSLA,TSLA,,TSLA
count,2535.000000,2535.000000,2535.000000,2535.000000,2535.000000,2.535000e+03
mean,117.877662,120.474827,115.097514,117.848209,117.848209,1.120308e+08
std,116.611575,119.236025,113.698930,116.508288,116.508288,7.387509e+07
min,9.488000,10.331333,9.403333,9.578000,9.578000,1.062000e+07
25%,17.259334,17.527667,16.942000,17.228000,17.228000,6.680295e+07
50%,31.299999,32.329334,29.760000,30.298000,30.298000,9.264180e+07
75%,222.653336,226.696671,217.061661,221.525002,221.525002,1.294283e+08
max,475.899994,488.540009,457.510010,479.859985,479.859985,9.140820e+08

In [8]:
tsla_data.dtypes

Price      Ticker
Open       TSLA      float64
High       TSLA      float64
Low        TSLA      float64
Close      TSLA      float64
Adj Close            float64
Volume     TSLA        int64
dtype: object

In [9]:
tsla_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2535 entries, 2015-01-02 to 2025-01-30
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Open, TSLA)    2535 non-null   float64
 1   (High, TSLA)    2535 non-null   float64
 2   (Low, TSLA)     2535 non-null   float64
 3   (Close, TSLA)   2535 non-null   float64
 4   (Adj Close, )   2535 non-null   float64
 5   (Volume, TSLA)  2535 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 138.6 KB

> ## üõ¢Ô∏è BND Dataset

In [10]:
rows, columns = bnd_data.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 2535
Number of columns: 6

In [11]:
bnd_data.head(rows)

Price            Open       High        Low      Close  Adj Close   Volume
Ticker            BND        BND        BND        BND                 BND
Date
2015-01-02  62.406560  62.603404  62.398988  62.573120  62.573120  2218800
2015-01-05  62.641277  62.777553  62.610993  62.754841  62.754841  5820100
2015-01-06  62.860827  63.125806  62.860827  62.936535  62.936535  3887600
2015-01-07  62.944115  63.050107  62.875980  62.974400  62.974400  2433400
2015-01-08  62.921385  62.921385  62.815393  62.875961  62.875961  1873400
...               ...        ...        ...        ...        ...      ...
2025-01-24  71.766106  71.855810  71.636531  71.805977  71.805977  5555700
2025-01-27  72.104996  72.204677  72.025262  72.184738  72.184738  8621200
2025-01-28  72.154837  72.154837  71.975421  72.144867  72.144867  4424300
2025-01-29  72.194707  72.254510  71.935550  72.104996  72.104996  5780200
2025-01-30  72.224605  72.294378  72.144864  72.204674  72.204674  5622300

[2535 rows x 6 columns]

In [12]:
bnd_data.describe()

Price,Open,High,Low,Close,Adj Close,Volume
Ticker,BND,BND,BND,BND,,BND
count,2535.000000,2535.000000,2535.000000,2535.000000,2535.000000,2.535000e+03
mean,69.293224,69.391261,69.186012,69.289451,69.289451,4.233200e+06
std,4.793199,4.800409,4.782142,4.792146,4.792146,2.796083e+06
min,61.891484,61.937384,61.822651,61.860889,61.860889,0.000000e+00
25%,65.552735,65.630169,65.475498,65.565277,65.565277,2.057700e+06
50%,68.310219,68.457877,68.169755,68.329117,68.329117,3.805800e+06
75%,72.845712,72.946445,72.728801,72.879929,72.879929,5.626700e+06
max,78.884927,78.920157,78.788013,78.823250,78.823250,3.193720e+07

In [13]:
bnd_data.dtypes

Price      Ticker
Open       BND       float64
High       BND       float64
Low        BND       float64
Close      BND       float64
Adj Close            float64
Volume     BND         int64
dtype: object

In [14]:
bnd_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2535 entries, 2015-01-02 to 2025-01-30
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Open, BND)    2535 non-null   float64
 1   (High, BND)    2535 non-null   float64
 2   (Low, BND)     2535 non-null   float64
 3   (Close, BND)   2535 non-null   float64
 4   (Adj Close, )  2535 non-null   float64
 5   (Volume, BND)  2535 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 138.6 KB

> ## üõ¢Ô∏è SPY Datasets

In [15]:
rows, columns = spy_data.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 2535
Number of columns: 6

In [16]:
spy_data.head(rows)

Price,Open,High,Low,Close,Adj Close,Volume
Ticker,SPY,SPY,SPY,SPY,,SPY
Date,,,,,,
2015-01-02,173.391052,173.811130,171.542703,172.592896,172.592896,121465900
2015-01-05,171.534204,171.702233,169.164977,169.475830,169.475830,169632600
2015-01-06,169.786733,170.316035,167.073039,167.879593,167.879593,209151400
2015-01-07,169.223882,170.316085,168.770204,169.971619,169.971619,125346700
2015-01-08,171.399826,173.206165,171.383032,172.987717,172.987717,147217800
...,...,...,...,...,...,...
2025-01-24,609.809998,610.780029,606.799988,607.969971,607.969971,34604700
2025-01-27,594.809998,599.690002,594.640015,599.369995,599.369995,70361100
2025-01-28,600.619995,605.369995,597.250000,604.520020,604.520020,44433300
2025-01-29,603.719971,604.130005,599.219971,601.809998,601.809998,37177400
2025-01-30,603.960022,606.599976,600.719971,605.039978,605.039978,39281300

In [17]:
spy_data.describe()

Price,Open,High,Low,Close,Adj Close,Volume
Ticker,SPY,SPY,SPY,SPY,,SPY
count,2535.000000,2535.000000,2535.000000,2535.000000,2535.000000,2.535000e+03
mean,316.021385,317.725660,314.157889,316.067402,316.067402,8.714655e+07
std,117.921618,118.486409,117.269902,117.926909,117.926909,4.487253e+07
min,156.354943,157.864136,154.676883,156.800842,156.800842,2.027000e+07
25%,214.972507,215.702245,214.206923,214.841972,214.841972,5.862005e+07
50%,277.230750,277.919549,276.073703,277.117920,277.117920,7.642870e+07
75%,406.100286,409.134310,402.830858,405.869186,405.869186,1.018866e+08
max,609.809998,610.780029,606.799988,609.750000,609.750000,5.072443e+08

In [18]:
spy_data.dtypes

Price      Ticker
Open       SPY       float64
High       SPY       float64
Low        SPY       float64
Close      SPY       float64
Adj Close            float64
Volume     SPY         int64
dtype: object

In [19]:
spy_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2535 entries, 2015-01-02 to 2025-01-30
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Open, SPY)    2535 non-null   float64
 1   (High, SPY)    2535 non-null   float64
 2   (Low, SPY)     2535 non-null   float64
 3   (Close, SPY)   2535 non-null   float64
 4   (Adj Close, )  2535 non-null   float64
 5   (Volume, SPY)  2535 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 138.6 KB

In [20]:
spy_data.dtypes

Price      Ticker
Open       SPY       float64
High       SPY       float64
Low        SPY       float64
Close      SPY       float64
Adj Close            float64
Volume     SPY         int64
dtype: object

>>> ### ‚ö†Ô∏è Check missing values

In [21]:
from scripts.data_cleaning import preprocess_data
tsla_data = preprocess_data(tsla_data,"TSLA")
bnd_data = preprocess_data(bnd_data,"BND")
spy_data = preprocess_data(spy_data,"SPY")

TSLA Missing values:
Price      Ticker
Open       TSLA      0
High       TSLA      0
Low        TSLA      0
Close      TSLA      0
Adj Close            0
Volume     TSLA      0
dtype: int64
BND Missing values:
Price      Ticker
Open       BND       0
High       BND       0
Low        BND       0
Close      BND       0
Adj Close            0
Volume     BND       0
dtype: int64
SPY Missing values:
Price      Ticker
Open       SPY       0
High       SPY       0
Low        SPY       0
Close      SPY       0
Adj Close            0
Volume     SPY       0
dtype: int64